{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Book Venue{% endblock title %}
{% block content %}
<br>
<div class="container" style="margin-top: 150px;">
    <div class="card">
        <h5 class="card-header">Booking Update</h5>
        <div class="card-body">
            <p class="card-text">
                <form action="{% url 'booking-update' booking.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input type="submit" value="Update Booking" class="btn btn-outline-success">
                </form>
            </p>
        </div>
    </div>
    {% endblock content %}