{% extends 'base.html' %}
{% block title %}
Home
{% endblock title%}
{% block content %}
<!--/ Carousel Star /-->
<div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
        {% for image in images %}
        <div class="carousel-item-a intro-item bg-image" style="background-image: url({{image.image.url}})">
            <div class="overlay overlay-a"></div>
            <div class="intro-content display-table">
                <div class="table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="intro-body">
                                    <p class="intro-title-top">{{image.venue.location}}
                                        <h1 class="intro-title mb-4">

                                            {{image.venue.name}}</h1>
                                        <p class="intro-subtitle intro-price">
                                            <a href="{% url 'venue-detail' image.venue.id %}"><span
                                                    class="price-a">Price
                                                    per day | KWD
                                                    {{image.venue.price_per_day}}</span></a>
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
<!--/ Carousel end /-->
<!--/ Testimonials Star /-->
<section class="section-testimonials section-t8 nav-arrow-a">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Testimonials</h2>
                    </div>
                </div>
            </div>
        </div>
        <div id="testimonial-carousel" class="owl-carousel owl-arrow">
            {% for rating in ratings %}

            <div class="carousel-item-a mb-5">
                <div class="testimonials-box">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="testimonial-img">
                                <img src="{{rating.customer.profile_picture.url}}" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="testimonial-ico">
                                <span class="ion-ios-quote"></span>
                            </div>
                            <div class="testimonials-content">
                                <p class="testimonial-text">
                                    {{rating.comment}}
                                </p>
                            </div>
                            <div class="testimonial-author-box">

                                <h5 class="testimonial-author">{{rating.customer.user.first_name}}
                                    {{rating.customer.user.last_name}} - {{rating.venue.name}}</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>

    </div>
</section>
<!--/ Testimonials End /-->
{% endblock content%}