{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} {% endblock title %}

{% block content %}
<div class="container" style="margin-top: 150px;">
    <div class="card">
        <h5 class="card-header">Owner Sign Up</h5>
        <div class="card-body">
            <p class="card-text">
                <form action="{% url 'signup-owner' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input type="submit" value="Create" class="btn btn-outline-success">
                </form>
        </div>
    </div>
</div>

{% endblock content %}