{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create Venue{% endblock title %}
{% block content %}
<br>
<div class="container" style="margin-top: 85px;"></div>
<div class="card">
    <h5 class="card-header">Update Venue Info</h5>
    <div class="card-body">
        <p class="card-text">
            <form action="{% url 'venue-update' venue_obj.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" value="Update" class="btn btn-outline-success">
            </form>
        </p>
    </div>
</div>
{% endblock content %}