{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Upload Images{% endblock title %}
{% block content %}
<br>
<div class="container" style="margin-top: 85px;"></div>
<div class="card"></div>
<h5 class="card-header">Upload Image</h5>
<!-- <div class="col-md-6"> -->

<div class="card-body">
    <div class="row">
        {% for image in images %}
        <div class="col-md-3">

            <a href="{% url 'venue-img-delete' image.id %}" class="btn btn-outline-danger btn-block">Delete</a>
            <img class="img-fluid w-100" src="{{image.image.url}}" alt="{{venue.title}}">
        </div>
        {% endfor %}
    </div>
    <p class="card-text">
        <form action="{% url 'venue-img' venue.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Upload" class="btn btn-outline-success">
        </form>
    </p>
</div>
</div>
{% endblock content %}